version: '3.8'

services:
  backend:
    build: ./backend
    restart: unless-stopped
    ports:
      - '8000:8000'
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://bga:secret@db:5432/bga

  redis:
    image: redis:6-alpine
    restart: unless-stopped
    ports:
      - '6379:6379'
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3

  db:
    image: postgres:14-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: bga
      POSTGRES_USER: bga
      POSTGRES_PASSWORD: secret
    ports:
      - '5432:5432'
    volumes:
      - ./db_data:/var/lib/postgresql/data # Persistence in local folder
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U bga" ]
      interval: 10s
      timeout: 5s
      retries: 3

  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - '3001:5173' # Map host 3001 to default Vite port 5173 (changed to avoid conflict with Grafana)
    depends_on:
      - backend
