version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - '8000:8000'
    volumes:
      - ./backend:/app
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy


  redis:
    image: redis:6-alpine
    ports:
      - '6379:6379'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  db:
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: bga
      POSTGRES_USER: bga
      POSTGRES_PASSWORD: secret
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data   # ← monta un volumen
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U bga"]
      interval: 10s
      timeout: 5s
      retries: 3

  frontend:
    build: ./frontend
    ports:
      - '3000:5173'  # ✅ mapa el puerto real del contenedor al 3000 del host
    volumes:
      - ./frontend:/app
      - /app/node_modules
  
volumes:
  db-data: